<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!-- 配置文件的根元素 -->
<mapper namespace="blocky.backend.dao.CheckUsernameDao">
    <resultMap id="result" type="blocky.backend.entity.UsersEntity">
        <result column="password" property="password"/>
    </resultMap>
    <!-- 根据主键查询-->
    <select id="checkUsername" resultMap="result" parameterType="java.lang.String" >
        select  users.password
        from users
        where username = #{username}
    </select>
</mapper>