<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!-- 配置文件的根元素 -->
<mapper namespace="blocky.backend.dao.GetSubmitDao">
    <resultMap id="submitMap" type="blocky.backend.entity.SubmitWithSceneIdTitleStudentNameEntity">
        <id property="id" column="id" />
        <result property="student_id" column="student_id" />
        <result property="teacher_id" column="teacher_id" />
        <result property="status" column="status" />
        <result property="score" column="score" />
        <result property="result" column="result" />
        <result property="history_id" column="history_id" />
        <result property="scene_id" column="scene_id" />
        <result property="title" column="title" />
        <result property="student_name" column="name" />
        <result property="level" column="level" />
    </resultMap>
    <select id="getSubmitByTeacherId" resultMap="submitMap">
        select submits.*,history.scene_id,scene.title,users.name,history.level
        from submits,history,scene,users
        where submits.teacher_id = #{teacher_id} and history.id = submits.history_id
          and scene.id = history.scene_id and users.id = submits.student_id
    </select>
    <select id="searchTeacherByTeacherId" resultType="int">
        select count(*)
        from users
        where users.id = #{teacher_id} and users.role = 0
    </select>

</mapper>