<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!-- 配置文件的根元素 -->
<mapper namespace="blocky.backend.dao.RegisterDao">
    <!-- 根据主键查询-->
    <select id="searchUserByID" resultType="blocky.backend.entity.UsersEntity">
        select  *
        from users
        where username = #{username}
    </select>
    <insert id="insertUser">
        insert into users(username, password, role, name, email)
        VALUES (#{username},#{password},#{role},#{name},#{email})
    </insert>
</mapper>