<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!-- 配置文件的根元素 -->
<mapper namespace="blocky.backend.dao.SaveObjectsAndScriptDao">
    <update id="saveObjectsAndScript">
        update scene set scene.objects = #{objects}, scene.script = #{script}
        where scene.id = #{scene_id}
    </update>
</mapper>